<ion-header class="header">
  <ion-toolbar class="header">
    <ion-title class="header">
        BARCODE SCANNER
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
        <div class="barcode" (click)="scanBarcode()">
          <h3>Press the icon to scan your BARCODE!</h3>
          <img class="img" src="../../assets/barcode.png" />
        </div>
  
        <ion-item class="separator">
          <ion-input type="text" placeholder="Barcode" [(ngModel)]="barcode"></ion-input>
        </ion-item>

        <button ion-button text-center class = "btn" (click)="scanBarcode()">
            SEARCH
        </button>
    <!-- <div class="spinner-bgr" *ngIf="loading">
      <ion-spinner class="spinner" name="bubbles"></ion-spinner>
    </div> -->
    
</ion-content>
