<ion-header>
  <ion-toolbar>
    <ion-title class="header">
        BARCODE SCANNER
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
    <div class="textfields">
        <div class="barcode" (click)="scanBarcode()">
          <h3>Press the icon to scan your BARCODE!</h3>
          <img class="img" src="../../assets/barcode.png" />
        </div>
  
        <ion-item class="separator">
        <ion-input type="text" placeholder="Barcode" [(ngModel)]="scannedData"></ion-input>
        </ion-item>

        <button class = "btn" ion-button full (click)="pretraga()">
            SEARCH
        </button>
    </div>
  
    <div class="spinner-bgr" *ngIf="loading">
      <ion-spinner class="spinner" name="bubbles"></ion-spinner>
    </div>
    
</ion-content>
